.navigation{
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
    max-width: 480px;
    z-index: 1030;

    .navigation_item{
        flex: 0 0 25%;
        text-align: center;
    }
    svg {
        width: 24px;
        height: auto;
        fill: #0eac32;
        display: inline-block;
        vertical-align: middle;
    }
}