.navigation{
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
    max-width: 480px;
    z-index: 1030;
    border-top: 2px solid #f3f3f3;
    justify-content: space-around;
    
    $this:&;
    

    &__link{
        text-align: center;
        background: white;
    }

    &__item{
        width: 100%;
        padding: 5px 15px;

        &-active{
            #{$this}{
                &__link{
                    background: #0eac32;
                    svg{
                        fill: white;
                    }
                }
            }
        }
    }
}