.button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    text-align: center;
    font-size:12px;

    svg {
        font-size: 1.4rem;
        width: 20px;
        height: auto;
        fill: #0eac32;
        display: inline-block;
        vertical-align: middle;
    }
}
.button__full_width{
    width: 100%;
    height: 100%;
}

.button__danger{
    background: #cd134b;
    color: white;
}

.button__white{
    background: #fff;
    color: #000;
}

.button__transparent{
    background:transparent;
    color: #000;
}
