.button{
    padding: 15px;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    text-align: center;
    font-size:12px;
}
.button__full_width{
    width: 100%;
    height: 100%;
}

.button__danger{
    background: #cd134b;
    color: white;
}

.button__white{
    background: #fff;
    color: #000;
}

.button__transparent{
    background:transparent;
    color: #000;
}
