.btn{
    padding: 15px;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    text-align: center;
    font-size:14px;
}
.btnFullWidth{
    width: 100%;
    height: 100%;
}

.btnDanger{
    background: #cd134b;
    color: white;
}

.btnWhite{
    background: #fff;
    color: #000;
}

.btnTransparent{
    background:transparent;
    color: #000;
}

.btnNoPadding{
    padding: 0;
}