@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

html,
body 
{
    padding: 0;
    margin: 0;
    background-color: white;
}

h1, h2, h3, h4, h5, h6{
    margin: 15px 0;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1, h2{
    font-weight: 700;
}
h3, h4{
    font-weight: 500;
}
h5, h6{
    font-weight: 400;
}

a 
{
    color: inherit;
    text-decoration: none;
}

p, a, small{
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p, a, label, span{
    font-size: 12px;
}

small{
    font-size: 12px;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #3d3d3d;
}

img{
    width: 100%;
    height: auto;
}

input{
    &[type="text"]{
        padding: 10px;
        border-radius: .25rem;
        border: 1px solid #ced4da;
        -webkit-appearance: none; 
        -moz-appearance: none; 
        font-size: 12px;
        font-weight: 400;
    }
    &[type="radio"] {
        display: none;
    }

    &:focus
    {
        outline: none;
    }
}

label{
    font-weight: 500;
    &:focus
    {
        outline: none;
    }
}

form{
    input[type="radio"]:checked+label {
        background-color: #0eac32;
        color: white;
    }
    input[type="radio"]+label {
        text-align: center;
        display: inline-block;
        background-color: rgb(238, 238, 238);
        padding: 10px 15px;
        border-radius: 15px;
        cursor: pointer;
        margin-right: 5px;
    }
}

button:focus {
    outline: 0;
    box-shadow: none!important;
}