@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

html,
body 
{
    padding: 0;
    margin: 0;
    background-color: rgb(247, 247, 247);
}

h1, h2, h3, h4, h5, h6{
    margin: 15px 0;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1, h2{
    font-weight: 700;
}
h3, h4{
    font-weight: 500;
}
h5, h6{
    font-weight: 400;
}

a 
{
    color: inherit;
    text-decoration: none;
}

p, a, small{
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #3d3d3d;
}

img{
    width: 100%;
    height: auto;
}

input
{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(117, 117, 117);
    -webkit-appearance: none; 
    -moz-appearance: none; 
    font-size: 14px;
    font-weight: 400;

    &:focus
    {
        outline: none;
    }
}

button:focus {
    outline: 0;
    box-shadow: none!important;
}