.widget__category{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: center;
    
    &__block{
        flex: 0 0 24%;
    }

    &__card{
        text-align: center;
        min-height: 70px;
        display: flex;
        margin:5px;
        border-radius: 15px;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        padding: 5px;

        span{
            text-transform: capitalize;
        }
    }
}