.loader{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    h3{
        color:white;
    }
}