.product__media{
    &__images{
        padding: 0;
        
        img{
            max-height: 400px;
            width: auto!important;
            margin: auto;
        }
    }

    &__description{
        padding: 0 15px;

        .product{
            &__sku{
                h4{
                    margin: 4px 0;
                    font-size: 14px;
                }
            }
            &__name{
                h1{
                    font-size: 22px;
                    font-weight: 500;
                    margin-bottom: 0;
                }
            }
            &__price{
                display: flex;
                align-items: center;

                &__regular{
                    h5{
                        text-decoration: line-through;
                        margin: 5px 0;
                        color:grey;
                    }
                }
                &__final{
                    h4{
                        margin: 5px 0;
                        margin-left: 15px;

                    }
                }
            }

           
        }
    }

    &__options{
        padding: 0 15px;

        .form{
            &__row{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 0;

                h4{
                    color: grey;
                    font-weight: 500;
                    font-size: 14px;
                    flex: 0 0 25%;
                    margin: 15px 0;
                }

                label{
                    margin-bottom:0;
                    padding:10px 15px;
                }

                &__group{
                    flex: 0 0 75%;
                }
            }
        }
    }
}

.product__desription{
    padding: 0 15px;
}