.header {
    position: fixed;
    max-width: inherit;
    width: 100%;
    z-index: 1030;
    box-shadow: 0 0 20px 0 #e2e2e2;

	.headerContent{
        display: flex;
        justify-content: start;
        padding: 0 15px;
        align-items: center;
        background:white;
        
        .nav {
            flex: 0 0 10%;
            text-align: left;

            .buttonBack{
                padding: 0;
                margin: auto;
                display: block;
            }

            svg {
                font-size: 1.4rem;
            }
            
            .menu_icon {
                width: 20px;
                height: auto;
                fill: #0eac32;
                display: inline-block;
                vertical-align: middle;
            }
        }

        .app_name {
            flex: 0 0 80%;
            text-align: center;

            h1{
                font-size: 1.2rem;
                color: #0eac32;
                font-weight: 500;
            }
        }
    }

}
