.search_drawer__header{
    padding: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    background: #0eac32;
    position: fixed;
    z-index: 1;
    width: 100%;

    .search_drawer__navigation{
        flex: 0 0 15%;
        
        button{
            padding: 5px;
        }
    }

    .drawer__search_form{
        flex: 0 0 70%;
        text-align: center;

        input{
            width: 100%;
            border-radius: 25px;
            border: none;
        }
    }
}

.search_drawer__body{
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    overflow-y: scroll;
}