.filterNavigation{
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
    padding: 15px;
    max-width: 480px;
    z-index: 1030;
    box-shadow: 0 0 10px 0 #e2e2e2;
}