.cart__item{
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 5px;
    padding:5px 15px;
    box-shadow: 0px 0px 10px -7px rgba(12, 153, 64, 1);
    $this: &;

    &--checklist{
        flex: 0 0 10%;
        text-align: center;
    }

    &--info{
        flex: 0 0 90%;
        margin-bottom: 0;

        #{$this}--detail{
            margin-bottom: 0;
            p{
                margin-top: 0;
                margin-bottom: 5px;
            }

            &-image{
                flex: 0 0 20%;
            }
            &-body{
                flex: 0 0 80%;
            }
        }
    }
}