.cart__item{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
    padding:5px 15px;
    $this: &;

    &--checklist{
        flex: 0 0 10%;
        text-align: center;
        
        label{
            padding-left: 0;
            display: table;
        }
    }

    &--info{
        flex: 0 0 90%;
        margin-bottom: 0;

        #{$this}--detail{
            margin-bottom: 0;
            p{
                margin-top: 0;
                margin-bottom: 5px;
                font-weight: 700;
            }

            &-image{
                flex: 0 0 20%;
            }
            &-body{
                flex: 0 0 80%;
            }
        }
    }

    &--additional{
        // margin: 20px 0 5px 0;
        display: flex;
        align-items: center;

        #{$this}--qty{
            flex: 0 0 25%;
            display: flex;

            .qty__minus, .qty__plus{
                flex: 0 0 25%;
                display: flex;
                justify-content: center;
                align-items: center;
                background: var(--color-primary);
                color: white;
                border-radius: 5px;
                font-size: 12px;
            }
    
            input{
                flex: 0 0 50%;
                width: 100%;
                height: 100%;
                border: none;
                border-bottom: 1px solid rgb(238, 224, 177);
                appearance: none;
                background:white;
                -webkit-appearance: none;
                text-align: center;
            }
        }

        #{$this}--subtotal{
            padding-left: 15px;
            flex: 0 0 75%;
        }
    }
}