.cart-item {
  border-bottom: 1px solid #eee;
  padding-top: 15px;
  $this: &;

  .item-checklist {  
    display: block;
  }

  .item-additional {
    // margin: 20px 0 5px 0;
    display: flex;
    align-items: center;

    .item-qty {
      flex: 0 0 25%;
      display: flex;

      .qty__minus,
      .qty__plus {
        background: var(--color-one);
        color: white;
        border-radius: 5px;
        font-size: 12px;
        text-align: center;
        padding: 3px 8px;
        cursor: pointer;
      }

      .qty__minus--disabled {
        background: #d8d8d8;
      }

      input {
        border: none;
        border-bottom: 1px solid rgb(238, 224, 177);
        text-align: center;
      }
    }

    .item-subtotal {
      padding-left: 15px;
      flex: 0 0 75%;
    }
  }
}
