.product__variants {
  padding: 0 15px;
  border-bottom: 10px solid #eee;

  .form {
    &__row {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 0;

      h3 {
        color: grey;
        font-weight: 500;
        font-size: 14px;
        flex: 0 0 25%;
        margin: 15px 0;
        text-transform: capitalize;
      }

      label {
        margin-bottom: 5px;
        padding: 10px 15px;
      }
    }
    &__group {
      flex: 0 0 75%;
    }
  }
}
