.filter__toggle {
  display: flex;
  position: fixed;
  width: 100%;
  background: #fff;
  padding: 10px 15px;
  max-width: 480px;
  z-index: 1030;
  border-top: 1px solid #efefef;
  margin: auto;
  right: 0;
  left: 0;
  top: 55px;
  overflow-x: scroll;
  
  &::-webkit-scrollbar{
    display: none;
  }
  

  button{
    background: var(--color-two);
    color: white;
    display: flex;
    align-items: center;
    margin-right: 5px;
    border-radius: 15px;
    padding: 5px 20px;
    font-size: 12px;
    line-height: 14px;

    svg{
      font-size: 12px;
      margin-right: 10px;
    }
  }
}

.filter__form{
  max-width: 480px;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  button{
    background: var(--color-one);
  }
}

.filter__formdelimiter{
  display: block;
}
