.media{
    padding:15px;
    display: flex;
    font-size: 12px;
    margin-bottom: 10px;
    align-items: center;
    background: white;
    border-radius: 5px;
}

.mediaImage{
    flex: 0 0 25%;
    min-height: 60px;
    overflow: hidden;
    position: relative;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #d3d3d3;

    img{
        max-width: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.mediaBody{
    flex: 0 0 75%;
    margin-left: 10px;
    font-size: 12px;
}