.header {
    position: fixed;
    max-width: inherit;
    width: 100%;
    z-index: 1030;
    box-shadow: 0 0 20px 0 #e2e2e2;

	.headerContent{
        display: flex;
        justify-content: start;
        padding: 10px 15px;
        align-items: center;
        background:white;
        
        .nav {
            flex: 0 0 10%;
            text-align: left;
            svg {
                font-size: 1.4rem;
            }

            button{
                margin: auto;
                display: block;
                width: 100%;
                padding: 10px 0;
            }

            .menu_icon {
                width: 20px;
                height: auto;
                fill: #0eac32;
                display: inline-block;
                vertical-align: middle;
            }
        }

        .searchForm{
            flex: 0 0 80%;
            
            input{
                width: 100%;
                border-radius: 15px;
            }
        }
    }

}
