.product__media{
    &__images{
        padding: 0;
        min-height: 350px;
        
        img{
            max-height: 400px;
            margin: auto;
        }
    }

    &__description{
        padding: 0 15px;

        .product{
            &__sku{
                h4{
                    margin: 4px 0;
                    font-size: 14px;
                }
            }
            &__name{
                h1{
                    font-size: 22px;
                    font-weight: 500;
                    margin-bottom: 0;
                }
            }
            &__price{
                display: flex;
                align-items: center;

                &__regular{
                    h5{
                        text-decoration: line-through;
                        margin: 5px 0;
                        color:grey;
                    }
                }
                &__final{
                    h4{
                        margin: 5px 0;
                        margin-left: 15px;

                    }
                }
            }

           
        }
    }
}

.product__desription{
    padding: 0 15px;
}

.product__related__product, .product__promo__banner{
    padding: 15px;
}