.widget{
    padding: 5px 0;

    .widget__header{
        display: flex;
        align-items: center;

        .widget__title{
            flex: 0 0 50%;
        }
        
        .widget__link{
            flex: 0 0 50%;
            text-align: right;
            font-weight: 400;
            font-size: 0.8rem;
            margin: 0;
        }
    }

    .widget__content{
        display: block;
    }
}
