.widget{
    margin: 0 15px;
    padding: 15px 0;

    .widgetHeader{
        display: flex;
        align-items: center;
        .widgetTitle{
            flex: 0 0 50%;
        }
        .widgetLink{
            flex: 0 0 50%;
            text-align: right;
            font-weight: 400;
            font-size: 0.8rem;
        }
    }
    .widgetContent{
        display: block;
    }
}
