.wrapper {
	max-width: 480px;
    margin: auto;
    height: 100vh;
    position: relative;
    overflow-x: hidden;

    .main__content{
        overflow: scroll;
        height: auto;
        padding-top: 100px;
        padding-bottom: 50px;
        background: white;
        margin: 0 10px;
    }
}
