.wrapper {
	max-width: 480px;
    margin: auto;
    height: 100vh;
    position: relative;

    .mainContent{
        overflow: scroll;
        height: auto;
        padding-top: 100px;
        padding-bottom: 50px;
        background: #f7f7f7;
    }
}
