.widget__catalog{
    display: inline-flex;
    flex-wrap: wrap;
    
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    
    .product__item {
        flex: 0 0 calc((100% / 2) - 7px);
        margin-bottom: 15px;
        
        &:nth-child(odd){
            margin-right: 14px;
        }
        
        &:nth-child(even){
            float: right;
        }
    }

}