.header {
	display: flex;
	justify-content: space-between;
    padding: 0 15px;
    align-items: center;
    

	.nav {
        flex: 0 0 10%;
        text-align: left;
		svg {
			font-size: 1.4rem;
        }
        .menu_icon {
            width: 20px;
            height: auto;
            fill: #0eac32;
            display: inline-block;
            vertical-align: middle;
        }
	}

	.app_name {
        flex: 0 0 80%;
        text-align: left;

		h1{
            font-size: 1.2rem;
            color: #0eac32;
            font-weight: 500;
        }
	}

	.minicartblock {
		flex: 0 0 10%;
		align-self: center;
		text-align: right;

		.shop_icon {
            width: 24px;
            height: auto;
            fill: #0eac32;
            display: inline-block;
            vertical-align: middle;
		}
	}
}
