.header {
    position: fixed;
    max-width: inherit;
    width: 100%;
    z-index: 1030;
    border-bottom: 2px solid #f3f3f3;

    .header__panel{
        display: block;
    }

    .header__content{
        background: white;
        display: flex;
        justify-content: start;
        padding: 5px 15px;
        align-items: center;
        
        svg {
            font-size: 1.4rem;
        }
        .nav {
            flex: 0 0 10%;
            text-align: left;
            button{
                padding: 0;
            }
            .menu__icon {
                width: 20px;
                height: auto;
                fill: #0eac32;
                display: inline-block;
                vertical-align: middle;
            }
        }

        .app__name {
            flex: 0 0 80%;
            text-align: left;

            h1{
                font-size: 1.2rem;
                color: #0eac32;
                font-weight: 500;
                cursor: pointer;
            }
        }

        .minicart__block {
            flex: 0 0 10%;
            align-self: center;
            text-align: right;

            .shop__icon {
                width: 24px;
                height: auto;
                fill: #0eac32;
                display: inline-block;
                vertical-align: middle;
            }
        }

    }
}
