.owl_images{
    border-radius: 10px;
    overflow: hidden;
    position: relative;

    .owl_descrition{
        position: absolute;
        width: 100%;
        text-align: center;
        top: 35%;
        bottom: 35%;
    }
}