.productItem{
    display: block;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid #efefef;

    .productImage{
        max-height: 125px;
        height: 100px;
        overflow: hidden;
        position: relative;
        padding: 10px;

        img{
            max-width: 60px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .productDiscount{
            position: absolute;
            right: 0;
            top: 2px;
            
            small{
                background: rgb(255, 179, 105);
                color: white;
                padding: 3px 5px;
                border-radius: 3px;
                font-size: 12px;
            }
        }
    }

    .productDescription{
        position: relative;
        max-height: 120px;
        height: 120px;

        .productName{
            line-height: 1.1rem;
            font-weight: 500;
            font-size: 0.8rem;
            margin-top: 10px;
            margin-bottom: 0;
        }

        .productBrand{
            text-transform: capitalize;
            font-size: 12px;
        }
        
        .productPrice{
            position: absolute;
            bottom: 0;
            left: 0;
            .oldPrice{
                text-decoration: line-through;
                display: block;
                color: rgb(255, 179, 105);
                font-style: italic;
            }
            .finalPrice{
                color: #0eac32;
                display: block;
                font-size: 14px;
            }
        }
    }
}