.product__item{
    display: block;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid #efefef;

    .product__image{
        max-height: 70px;
        height: 70px;
        overflow: hidden;
        position: relative;
        padding: 10px;

        img{
            max-width: 40px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .product__discount{
            position: absolute;
            right: 0;
            top: 2px;
            
            small{
                background: rgb(255, 179, 105);
                color: white;
                padding: 3px 5px;
                border-radius: 3px;
                font-size: 12px;
            }
        }
    }

    .product__description{
        position: relative;
        max-height: 90px;
        height: 90px;

        .product__name{
            line-height: 1.1rem;
            font-weight: 500;
            font-size: 0.8rem;
            margin-top: 10px;
            margin-bottom: 0;
        }

        .product__brand{
            text-transform: capitalize;
            font-size: 12px;
        }
        
        .product__price{
            position: absolute;
            bottom: 0;
            left: 0;
            display: -webkit-box;

            .old__price{
                text-decoration: line-through;
                display: block;
                color: rgb(255, 179, 105);
                font-style: italic;
            }
            .final__price{
                color: #0eac32;
                display: block;
                font-size: 14px;
                margin-left: 10px;
            }
        }
    }
}